* {
    box-sizing: border-box;
}

html {
    background-size: cover;
}

body {
    font-family: 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
    background-color: #94b8b8;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.money img {
    width: 40%;
    margin: 10px;
    display: inline-block;
}

.machine img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

/* .......................... */

/* fruit Btn */
.casino {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
}

.casino .slotMachine .slot {
    height: 100px;
    background-repeat: no-repeat;
}

.casino .slotMachine {
    width: 110px;
    height: 110px;
    border: 5px solid #CF5178;
    display: inline-block;
}

.slot1 {
    background-image: url("../../img/slot/slot1.png");
    /* background-position:left center; */
}

.slot2 {
    background-image: url("../../img/slot/slot2.png");
    /* background-position:center center; */
}

.slot3 {
    background-image: url("../../img/slot/slot3.png");
    /* background-position:right center; */
}

.slot4 {
    background-image: url("../../img/slot/slot4.png");
}

.slot5 {
    background-image: url("../../img/slot/slot5.png");
}

.slot6 {
    background-image: url("../../img/slot/slot6.png");
}

/* Shuffle&Stop Btn*/
.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    z-index: 0;

}

.btn-group .button {
    border: 5px solid #333333;
    color: #000000;
    padding: 12px 28px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    /* float: left; */
}

.btn-group .button:hover {
    background-color: #ff6600;
    color: #000000;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {

    .col-sm-6 {
        width: 100%;
    }
}
