/* * {
    box-sizing: border-box;
}

html {
    background-size: cover;
    height:100%
} */

body {
    font-family: 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
    background-color: #94b8b8;
    /* height:100% */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.money img {
    width: 40%;
    margin: 10px;
    display: inline-block;
    position: relative;

}

.machine img {
    /* width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -193px; */

    position: relative;
    width: 90%;
    display: block;
    margin: auto;
}

/* .......................... */

/* fruit Btn */
.casino {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-60%, -70%);
}

/* 圖 */
.casino .slotMachine .slot {
    height: 100px;    
    background-repeat: no-repeat;
    background-size: 100%;
}

/* 框 */
.casino .slotMachine {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 5px solid #CF5178;
    display: inline-block;
}

.slot1 {
    background-image: url("../../img/slot/slot1.png");
}

.slot2 {
    background-image: url("../../img/slot/slot2.png");
}

.slot3 {
    background-image: url("../../img/slot/slot3.png");
}

.slot4 {
    background-image: url("../../img/slot/slot4.png");
}

.slot5 {
    background-image: url("../../img/slot/slot5.png");
}

.slot6 {
    background-image: url("../../img/slot/slot6.png");
}

/* Shuffle&Stop Btn*/
.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group .button {
    border: 5px solid #333333;
    color: #000000;
    padding: 12px 28px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    /* bottom: -220px; */
    right: 35px;
}

.btn-group .button:hover {
    background-color: #ff6600;
    color: #000000;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {

    .col-sm-6 {
        width: 100%;
    }
}
