table {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

td {
    border-collapse: separate;
    border: 3px solid rgba(255,255,255,0);
    width: 54px;
    height: 54px;
}

#central{
    text-align: center;
}

#runningArea {
    width: 100%;
    height: 450px;
}

.yellowLight {
    border: 3px solid yellow;
}

.normal {
    border: 3px solid rgba(255,255,255,0);
}

#setBoard>div {
    padding: auto;
    margin: 4px;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    display: inline-block;
    width: 74px;
    height: 162px;
}

p>input {
    width: 68px;
}
